* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(135deg, #4CAF50, #008CBA);
    color: white;
    text-align: center;
    padding: 60px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight {
    color: #ff6347;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

section {
    padding: 60px 20px;
    text-align: center;
    min-height: 80vh;
}

.project {
    background-color: #fff;
    margin: 10px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills-list li {
    background-color: #4caf8e;
    color: white;
    margin: 5px 0;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer*div {
    padding: 20px 10px;
    min-height: 20vh;
    text-align: center;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    word-spacing: 15%;
    line-height: 200%;
}